.item-preview-tile {
    margin: 0 auto;
    width: 100% !important;
    height: 400px !important;
    transition: box-shadow 0.2s;
    z-index: 500;
    display: table;
    color: black;
}

.item-preview-tile:hover {
    color: black;
}

.text-div { 
    display: table-cell;
    vertical-align: middle;
}

.text-div h3 {
    font-family: 'Poppins';
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 35px;
}

.text-div p {
    line-height: 10px;
}

.carousel-wrapper {
    z-index: -3;
}

.upper-wrapper-coop1 {
    position: absolute;
    width: inherit;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(to right, rgb(0,0,0, 0.4), rgb(0,0,0,0), rgb(0,0,0, 0.4)), url('../../../../assets/images/gallery/coop1.jpg');
    background-size: cover;
}

.upper-wrapper-ryse {
    position: absolute;
    width: inherit;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(to right, rgb(0,0,0, 0.4), rgb(0,0,0,0), rgb(0,0,0, 0.4)), url('../../../../assets/images/projects/ryse-screen.png');
    background-size: cover;
}

.upper-wrapper-blitz {
    position: absolute;
    width: inherit;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(to right, rgb(0,0,0, 0.4), rgb(0,0,0,0), rgb(0,0,0, 0.4)), url('../../../../assets/images/projects/blitz-nfl.jpg');
    background-size: cover;
}

.upper-wrapper-snl {
    position: absolute;
    width: inherit;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(to right, rgb(0,0,0, 0.4), rgb(0,0,0,0), rgb(0,0,0, 0.4)), url('../../../../assets/images/gallery/fbs.jpg');
    background-size: cover;
}

.upper-wrapper-graphql {
    position: absolute;
    width: inherit;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(to right, rgb(0,0,0, 0.4), rgb(0,0,0,0), rgb(0,0,0, 0.4)), url('../../../../assets/images/gallery/graphql.jpg');
    background-size: cover;
}

.upper-wrapper-wateng {
    position: absolute;
    width: inherit;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(to right, rgb(0,0,0, 0.4), rgb(0,0,0,0), rgb(0,0,0, 0.4)), url('../../../../assets/images/gallery/waterloo-campus.jpg');
    background-size: cover;
}

.upper-wrapper-sports {
    position: absolute;
    width: inherit;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(to right, rgb(0,0,0, 0.4), rgb(0,0,0,0), rgb(0,0,0, 0.4)), url('../../../../assets/images/about/hobbies/sports.jpg');
    background-size: cover;
}

.upper-wrapper-bbq {
    position: absolute;
    width: inherit;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(to right, rgb(0,0,0, 0.4), rgb(0,0,0,0), rgb(0,0,0, 0.4)), url('../../../../assets/images/about/hobbies/barbecue.jpg');
    background-size: cover;
}

.upper-wrapper-guitar {
    position: absolute;
    width: inherit;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(to right, rgb(0,0,0, 0.4), rgb(0,0,0,0), rgb(0,0,0, 0.4)), url('../../../../assets/images/about/hobbies/guitar.jpg');
    background-size: cover;
}

.lower-wrapper {
    position: absolute;
    width: inherit;
    background-color: white;
    height: 100px;
    bottom: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: table;
}

.tag {
    height: 30px !important;
    margin: -5px auto 5px auto;
    background-color: orange;
    width: 120px;
    height: auto;
    line-height: 30px !important;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    display: table;
}

.tag p {
    display: table-cell;
    vertical-align: middle;
}

@media (max-width: 705px) {
    .text-div p {
        padding: 0 !important;
        margin: 10px auto !important;
    }
}

@media (max-width: 550px) {
    .upper-wrapper {
        border-radius: 0 !important;
    }
}
