.item-preview-tile {
    margin: 0 auto;
    width: 100% !important;
    height: 400px !important;
    transition: box-shadow 0.2s;
    z-index: 500;
    display: table;
    color: black;
}

.item-preview-tile:hover {
    color: black;
}

.text-div { 
    display: table-cell;
    vertical-align: middle;
}

.text-div h3 {
    font-family: 'Poppins';
    font-weight: 700;
    letter-spacing: -1px;
}

.text-div p {
    line-height: 0;
}

.carousel-wrapper {
    z-index: -3;
}

.upper-wrapper {
    position: absolute;
    width: 700px;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.lower-wrapper {
    position: absolute;
    width: 700px;
    background-color: white;
    height: 100px;
    bottom: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: table;
}

