.btnNav {
    font-family: 'Cairo';
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 2px;
    line-height: 70px;
    color: rgba(0, 0, 0, 0.4) !important;
    transition: color 0.2s;
}

.btnNav:hover {
    color: black !important;
}

.nav-item-parent {
}

@media only screen and (max-width: 650px) {
    .btnNav {
        font-size: 12px !important;
    }

}

@media only screen and (max-width: 500px) {
    .btnNav {
        font-size: 12px !important;
        padding: 0 6px !important;
    }


}

