.list {
    list-style-type: disk;
    list-style-position: outside;
    margin: 10px 0 30px 25px;
    font-family: 'Cairo'
}

.list li {
    margin: 5px 0;
}

.skills-list {
    list-style-type: none;
    margin: 10px 0 30px 0;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 40px;
}

.wrapper h2 {
    text-align: left !important;
    font-size: 40px !important;
    letter-spacing: -2px !important;
}

.content-div {
    overflow: hidden;
}

.header-img {
    margin: 0 auto;
    height: 450px;
    border-radius: 15px;
}

.carousel-row {
    margin-top: 40px;
}
.img-row {
    width: 700px;
}

.section-div {
    margin: 50px auto;
}

.team {
    transition: transform 0.2s;
}

.carousel {
    margin-top: 20px;
}

.team:hover {
    transform: scale(1.05);
}

.skill-img {
    transition: transform 0.2s;
}

.skill-img:hover {
    transform: scale(1.05);
}
    
.section-div-first {
    margin-top: 0;
}

@media (max-width: 767px) {
    .wrapper {
        width: none;
        padding: 0 25px;
    }
    .header-img {
        height: 300px;
    }
    .team {
        width: 33.333% !important;
    }
    .img-row {
        width: 100%;
    }

    .wrapper h2 {
        font-size: 30px !important;
    }
}

@media (max-width: 560px) {
    .header-img {
        height: 230px;
    }
}





