.projectsPreview {
    height: auto;
    margin: 0 auto 200px auto;

}

.tile-wrapper {
    max-width: 1800px !important;
}

.proj-prev-el h2 {
    margin: 30px auto 15px auto;
}

.proj-prev-el a {
    margin: 5px auto 30px auto;
}

.carousel-wrapper {
    height: 300px;
    width: 500px;
    position: absolute;
    z-index: -100;
    background-color: green;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 15px;
}


