.projectsPreview {
    height: auto;
    margin: 0 auto 200px auto;

}

.proj-prev-el a {
    margin: 0 auto;
}

.tile-wrapper {
    max-width: 1800px !important;
}

.btn-link {
    cursor: pointer;
    background-color: #4775de;
    padding: 15px;
    border-radius: 5px;
    color: white !important;
    font-family: 'Cairo';
    transition: background-color 0.2s;
}

.btn-link:hover {
    text-decoration: none !important;
    background-color: #608aec;
}
