.projectsPreview {
    height: auto;
    margin: 0 auto 200px auto;
}

.tile-wrapper {
    max-width: 1200px !important;
    margin: 0 auto;
}

.proj-prev-el {
}


.carousel-wrapper {
    height: 300px;
    width: 500px;
    position: absolute;
    z-index: -100;
    background-color: green;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 15px;
}


