.btn-left,
.btn-right {
    position: relative;
    top: -320px;
    z-index: 500;
    text-align: center;
    background-color: orange;
    padding: 5px 10px;
    color: white!important;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: table;
    padding: 10px;
}

.btn-left {
    float: left;
    margin-left: 25px;
}

.btn-right {
    float: right;
    margin-right: 25px;
}

.carousel-wrapper-btn {
    height: 437px;
    width: 700px;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 15px;
}

.gallery-preview-paragraph p {
    line-height: 0 !important;
}

@media (max-width: 767px) {
    .carousel-wrapper-btn {
        width: 100%;
    }
}
