.btnIcon {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3) !important;
    transition: color 0.2s;
}

.btnIcon:hover {
    color: black !important;
    text-decoration: none;
}


.btnLarge {
    cursor: pointer;
    background-color: #4775de;
    padding: 15px;
    border-radius: 5px;
    color: white !important;
    font-family: 'Cairo';
    transition: background-color 0.2s;
    position: relative;
}

.btnLarge:hover {
    text-decoration: none !important;
    background-color: #608aec;
}

.btn-link {
    cursor: pointer;
    background-color: #4775de;
    padding: 15px;
    border-radius: 5px;
    color: white !important;
    font-family: 'Cairo';
    transition: background-color 0.2s;
    position: relative;
}

.btn-link:hover {
    text-decoration: none !important;
    background-color: #608aec;
}


