.btnIcon {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3);
    transition: color 0.2s;
}

.btnIcon:hover {
    color: black;
    text-decoration: none;
}


.btnLarge {
    cursor: pointer;
    background-color: #4775de;
    padding: 15px;
    border-radius: 5px;
    color: white !important;
    font-family: 'Lato';
    transition: background-color 0.2s;
    position: relative;
    margin: 0 auto;
}

.btnLarge:hover {
    text-decoration: none !important;
    background-color: #608aec;
}


