.btn-container {
    max-width: 150px;
    margin: 0 auto;
}

@media only screen and (max-width: 775px) {
    .btn-container div {
        display: inline !important;
        width: 25%;
    }    

}

@media only screen and (max-width: 775px) {
    .btn-container div {
        display: inline !important;
        width: 25%;
    }    

}