.hero {
    height: 750px !important;
    /* background-color: rgb(233, 233, 233); */
    /* box-shadow: 0 50px 50px -50px  rgba(0, 0, 0, 0.1); */
    margin:0 auto 500px auto;;
}



.divide-container {
    position: relative;
    background-color: white !important;
    padding: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 500px;
    border-radius: 20px;
    top: 60px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    z-index: 100;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.upper-wrapper {
    height: 350px;
    background-color: white !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.lower-wrapper {
    height: 80px;
    background-color: #f5f5f5 !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.lower-wrapper * {
    top: 25px;
}

.wave {
    position: relative;
    top: -300px;
    height: 600px;
}

.wave {
}

.main-title * {
    display: inline;
}

@keyframes wave {
    0% {transform: rotate(5deg)}
    33.3% {transform: rotate(0)}
    66.7% {transform:rotate(-5deg)}
    100% {transform: rotate(0)}
}


.preview-container {
    margin: 200px auto;
}

.stripe {
    height: 500px;
    width: 150vw;
    top: 350px;
    margin-left: -30vw;
    position: absolute;
    background-color: #4775de;
    transform: rotate(6.2deg);
    z-index: -1;
}

.stripe-reflected {
    top: 400px;
    height: 400px;
    position: absolute;
    width: 150vw;
    margin-left: -30vw;
    background-color: #dbebfa;
    transform: rotate(-6.2deg);
    z-index: -2;
}
