.aboutPreview {
    height: 100vh;
}

.aboutPreview h1 {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 100px;
    letter-spacing: -6px;
}

.about-carousel div {
    margin: 0 auto;
}