.aboutPreview {
    height: auto;
    margin: 0 auto 250px auto;
}

.abt-prev-el {
    z-index: 200;
}

.abt-prev-el {
}


.preview-container {
    margin: 200px auto;
}

.stripe {
    height: 325px;
    width: 150vw;
    margin-left: -30vw;
    position: absolute;
    background-color: rgb(255, 220, 154);
    z-index: -3;
    transform: rotate(4deg);
}

.stripe-reflected {
    height: 375px;
    width: 150vw;
    margin-left: -30vw;
    position: absolute;
    transform: rotate(-4deg);
    background-color: orange;
    z-index: -2;
}

.carousel-overlay {
    z-index: 200;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1) );
    height: 75px;
    position: absolute;
    width: 100%;
}



