.aboutPreview {
    height: auto;
    margin: 0 auto 250px auto;
}

.abt-prev-el {
    z-index: 200;
}

.abt-prev-el h2 {
    margin: 30px auto 15px auto;
}

.abt-prev-el a {
    margin: 15px auto 30px auto;
}


.preview-container {
    margin: 200px auto;
}

.stripe {
    height: 325px;
    width: 150vw;
    margin-left: -30vw;
    position: absolute;
    background-color: rgb(255, 220, 154);
    z-index: -3;
    transform: rotate(4deg);
}

.stripe-reflected {
    height: 375px;
    width: 150vw;
    margin-left: -30vw;
    position: absolute;
    transform: rotate(-4deg);
    background-color: orange;
    z-index: -2;
}

.btn-link {
    cursor: pointer;
    background-color: #4775de;
    padding: 15px;
    border-radius: 5px;
    color: white !important;
    font-family: 'Cairo';
    transition: background-color 0.2s;
}

.btn-link:hover {
    text-decoration: none !important;
    background-color: #608aec;
}




