.home__container__Cpbhn {
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-align: center; 
        align-items: center; 
    -ms-flex-pack: center; 
        justify-content: center;
    min-height: 100vh;
}

.home__row__3aeLu {
    width: 900px;
    margin-bottom: 5%;
}

.home__content-wrapper__1ZCgY p {
    margin: 0 0 20px 0;
}

.home__name__2Gerq {
    margin-bottom: 25px;
}

.home__text-link-resume__1L2Bh {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: black;
}

.home__text-link-resume__1L2Bh:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: black;
}

.home__text-link-shopify__fRg2G {
    color: #96bf48;
}

.home__text-link-shopify__fRg2G:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #96bf48;
}

.home__text-link-gc__3wHP2 {
    color: #4285f4;
}

.home__text-link-gc__3wHP2:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #4285f4;
}

.home__text-link-learn-more__1OcQF {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
}

.home__future-text__g1U8r {
    margin-top: 60px;
}

.home__links-row__1GW7e a{
    font-size: 25px;
    color: rgb(202, 198, 198);
    margin: 0 15px 0 0;
}

.home__links-row__1GW7e a:hover {
    color: black;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

h1 {
    font-family: 'Fira Sans';
    font-weight: 900;
    font-size: 100px;
}

h2 {
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 60px;
}

p {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
}

@media (max-width: 991px) {
    h1 {
        font-size: 70px;
    }
}

@media (max-width: 575px) {
    h1 {
        font-size: 50px;
    }

    .home__row__3aeLu {
        margin: 0 40px;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 50px;
    }
    
    .home__row__3aeLu {
        margin: 0 10px;
    }
}.about__col-image__nnuUz {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.about__col-text__3W2D9 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.about__text-link-learn-more__G1_D6 {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
}

.about__summary-container__2ji3F {
    height: 100vh;
}

.about__row__2R_FH {
    margin-top: 8%;
    height: 60%;
}

.about__content-wrapper__3Ifyw p {
    margin: 0 40px 20px 0;
}

.about__back-arrow__vnbcn {
    font-size: 40px;
    color: rgb(202, 198, 198);
    margin: 0 15px 0 0;
}

.about__back-arrow__vnbcn:hover {
    color: black;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.about__text-link-shopify__rF0m- {
    color: #96bf48;
}

.about__text-link-shopify__rF0m-:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #96bf48;
}

.about__text-link-nvidia__2UIiv {
    color: #76b900;
}

.about__text-link-nvidia__2UIiv:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #76b900;
}

.about__image__2rBSO {
    max-height: 500px;
}

h2 {
    font-family: 'Fira Sans';
    font-weight: 700;
    font-size: 60px;
}

/* .exp-container {
    margin-bottom: 100px;
}

.tile-row {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-row-header {
    display: flex;
    align-items: center;
    justify-content: center;
} */

@media (max-width: 991px) {
    h2 {
        font-size: 50px;
    }
}

@media (max-width: 767px) {
    .about__summary-container__2ji3F {
        height: auto;
        margin-bottom: 100px;
    }
}

@media (max-width: 575px) {
    .about__row__2R_FH {
        margin: 0 40px;
    }

    h2 {
        font-size: 40px;
    }

    .about__back-row__2opB0 {
        margin: 0 40px 20px 40px;
    }
}

@media (max-width: 450px) {
    h2 {
        font-size: 40px;
    }

    .about__row__2R_FH {
        margin: 0 10px;
    }

    .about__back-row__2opB0 {
        margin: 0 10px;
        margin-bottom: 20px;
    }
}


/*# sourceMappingURL=main.3cd5ba86ca391808f7b4.css.map*/