.MainNav__btnNav__3_EqR {
    font-family: 'Cairo';
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 2px;
    line-height: 70px;
    color: rgba(0, 0, 0, 0.4) !important;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.MainNav__btnNav__3_EqR:hover {
    color: black !important;
}

.MainNav__nav-item-parent__2RH9_ {
}

.MainNav__mainNav__3kMxE {

}

@media (max-width: 767px) {
    .MainNav__btnNav__3_EqR {
        font-size: 11px !important;
        padding: 0 5px !important;
    }

    .MainNav__mainNav__3kMxE {
        display: none;
    }
}
* {
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 100%;
  overflow-x: hidden; 
}

h5 {
  text-align: center;
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  font-size: 85px !important;
  letter-spacing: -6px;
  margin: 100px auto 0 auto !important;
}

h4 {
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  text-align: center !important;
  letter-spacing: -2px !important;
  font-size: 30px !important;
}

h3 {
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  text-align: center !important;
  letter-spacing: -2px !important;
  font-size: 40px !important;
}

h2 {
  font-size: 50px !important;
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  text-align: center !important;  
  letter-spacing: -3px !important;
  margin: 0 auto;
}

h1 {
  text-align: center !important;
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  font-size: 60px !important;
  letter-spacing: -4px !important; 
  margin: 100px auto 0 auto !important;
}

.index__p-about__7mtOA {
  font-size: 300px !important;
}

p {
  text-align: center ;
  font-family: 'Cairo' ;
  font-size: 16px ;
  margin: 0 auto 10px auto;
  font-weight: 400 ;
  max-width: 700px ;
  line-height: 35px ;
}

p2 {
  text-align: left;
  margin: 20px auto;
  font-family: 'Cairo';
  font-size: 16px;
  line-height: 35px;
  font-weight: 400 ;
  max-width: 750px;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.index__scroll-hidden__3RFZd {
  -webkit-transform: translate3d(0, -100%, 0) !important;
          transform: translate3d(0, -100%, 0) !important;
}


@media (max-width: 1000px) {
  h5 {
    font-size: 65px !important;
  }

  p {
    font-size: 15px !important;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 45px !important;
    letter-spacing: -4px !important;
    padding: 0 10px !important;
    margin: 90px auto 0 auto !important;
  }

  h5 {
    font-size: 50px !important;
    letter-spacing: -4px !important;
    margin: 90px auto 0 auto !important;
    padding: 0 10px !important;
  }

  p {
    font-size: 15px !important;
    padding: 0 30px !important;
    /* margin: 8px auto !important; */
  }

  h2 {
    font-size: 40px !important;
    letter-spacing: -2px !important;
  }

  h3 {
    font-size: 30px !important;
  }
} 




.Spinner__loading__3d4BZ {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 180px;
    margin:-90px 0 0 -90px;
    -webkit-animation:Spinner__spin__hXm-3 4s linear infinite;
    animation:Spinner__spin__hXm-3 300ms linear infinite;
}

.Spinner__logo__UFGhW {
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    position: absolute;
}
@-webkit-keyframes Spinner__spin__hXm-3 { 100% { -webkit-transform: rotate(360deg); } }
@keyframes Spinner__spin__hXm-3 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.Button__btnIcon__wov8j {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3) !important;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.Button__btnIcon__wov8j:hover {
    color: black !important;
    text-decoration: none;
}


.Button__btnLarge__GiCp3 {
    cursor: pointer;
    background-color: #4775de;
    padding: 15px;
    border-radius: 5px;
    color: white !important;
    font-family: 'Cairo';
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    position: relative;
}

.Button__btnLarge__GiCp3:hover {
    text-decoration: none !important;
    background-color: #608aec;
}

.Button__btn-link__DRAbc {
    cursor: pointer;
    background-color: #4775de;
    padding: 15px;
    border-radius: 5px;
    color: white !important;
    font-family: 'Cairo';
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    position: relative;
}

.Button__btn-link__DRAbc:hover {
    text-decoration: none !important;
    background-color: #608aec;
}


.Icon__iconSmall__JRZE1 {
    font-size: 25px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.Icon__iconLarge__3eiHV {
    text-align: center !important;
    font-size: 55px;
}

.Icon__iconClose__2cFQx {
    font-size: 45px;
    position: absolute;
    margin: 20px 30px;
    right: 0;
    top: 0;
    color: rgb(235, 233, 233);
    cursor: pointer;
}

.Icon__iconHamburger__IqrwE {
    float: right;
    font-size: 35px;
    margin: 25px 25px 0px 0px;
}

.Icon__iconMenu__rz9y9 {
    text-align: center;
    font-size: 30px;
    display: block;
    position: relative;
    top: 2px;
    margin: 15px 20px 10px 20px;
}

@media (max-width: 767px) {
    .Icon__iconClose__2cFQx {
        font-size: 40px;
        margin: 10px 15px;
        cursor: pointer;
    }
} .Image__image-description__7xmUM {
    color: rgb(175, 175, 175);
}

.Image__image-box__1shwa {
    margin: 25px auto;
}

.Image__image-box__1shwa img {
    margin: 0 auto;
}.MyStory__list__3DsWT,
.MyStory__skills-list__1Ys-L {
    list-style-type: disk;
    list-style-position: outside;
    margin: 10px 0 30px 25px;
    font-family: 'Cairo'
}

.MyStory__skills-list__1Ys-L {
    margin: 5px 0 5px 25px !important;
}

.MyStory__list__3DsWT li {
    margin: 5px 0;
}

.MyStory__wrapper__mX68y {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 40px;
}

.MyStory__wrapper__mX68y h2 {
    text-align: left !important;
    font-size: 40px !important;
    letter-spacing: -2px !important;
    margin-top: 100px;
}

.MyStory__content-div__13TpX {
    overflow: hidden;
}

.MyStory__header-img__oC0Ee {
    margin: 0 auto;
    height: 450px;
    border-radius: 15px;
}

.MyStory__carousel-row__MtLTh {
    margin-top: 40px;
}
.MyStory__img-row__2B1tZ {
    width: 700px;
}

.MyStory__section-div__11G8s {
    margin: 50px auto;
}

.MyStory__team__16SOx {
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.MyStory__carousel__9msXe {
    margin-top: 20px;
}

.MyStory__team__16SOx:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.MyStory__skill-img__32Wa0 {
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.MyStory__skill-img__32Wa0:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}
    
.MyStory__section-div-first__17MrF {
    margin-top: 0;
}

@media (max-width: 767px) {
    .MyStory__wrapper__mX68y {
        width: none;
        padding: 0 25px;
    }
    .MyStory__header-img__oC0Ee {
        height: 300px;
    }
    .MyStory__team__16SOx {
        width: 33.333% !important;
    }
    .MyStory__img-row__2B1tZ {
        width: 100%;
    }

    .MyStory__wrapper__mX68y h2 {
        font-size: 30px !important;
    }
}

@media (max-width: 560px) {
    .MyStory__header-img__oC0Ee {
        height: 230px;
    }
}





.ProjectSelect__project-select-row__22iF4 {
    margin-top: -10px;
}

.ProjectSelect__project-select-link__2e0Ch:hover {
    text-decoration: none;
}


.ProjectSelect__curve__3jd7Y {
    width: 100%;
    margin-bottom: 30px;
    /* height: 300px; */
}

@media (max-width: 1100px) {
    .ProjectSelect__project-select-link__2e0Ch {
        max-width: 50% !important;
        -ms-flex: none !important;
            flex: none !important;
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .ProjectSelect__project-select-link__2e0Ch {
        max-width: 100% !important;
    }
}
.Gallery__gallery__1DUrG {

}

.Gallery__gallery-tile-row__19odd {
    margin-top: -10px;
}.Logo__logo__aq8IK {
}




.Footer__footer__2dyxG {
    margin: 15% auto 80px auto;
    max-width: 90%;
}

.DialogContent__modal__3DjNb {
    height: 325px !important;
    width: 600px;
}

.DialogContent__modal__3DjNb h1 {
    margin: 30px auto 20px auto !important;
}

.DialogContent__btn-close__3O0BV {
    bottom: 0;
    margin-top: 15px;
}

.DialogContent__contact-p__3_CZX {
    text-align: center;
    font-family: 'Cairo';
    font-size: 15px;
    margin: 5px auto 15px auto;
    font-weight: 400;
    max-width: 550px;
    line-height: 35px;
}

.DialogContent__hr__1TJVt {
    width: 300px;
}

@media (max-width: 767px) {
    .DialogContent__modal__3DjNb {
        width: 320px;
        overflow: hidden;
        height: 360px !important;
    }

    .DialogContent__contact-p__3_CZX {
        font-size: 13px !important;
    }

    .DialogContent__hr__1TJVt {
        width: 150px;
    }
} 

.MainButtonRow__btn-container__1AQF4 {
    max-width: 150px;
    margin: 0 auto;
}

.MainButtonRow__btn-container__1AQF4 div {
    padding: 0 5px;
    display: inline !important;
    width: 25%;
}


.EmojiCarousel__carousel-item__2qt6v {
    text-align: center !important;
    font-size: 50px;
}.SlideCarousel__btn-left__3cql5,
.SlideCarousel__btn-right__3vgvi {
    position: relative;
    top: -320px;
    z-index: 500;
    text-align: center;
    background-color: #608aec;
    padding: 5px 10px;
    color: white!important;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: table;
    padding: 10px;
}

.SlideCarousel__btn-left__3cql5 {
    float: left;
    margin-left: 25px;
}

.SlideCarousel__btn-right__3vgvi {
    float: right;
    margin-right: 25px;
}

.SlideCarousel__carousel-wrapper-btn__2h_jg {
    height: 437px;
    width: 700px;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 15px;
}

.SlideCarousel__gallery-preview-paragraph__3Y4s5 p {
    line-height: 0 !important;
}

@media (max-width: 767px) {
    .SlideCarousel__carousel-wrapper-btn__2h_jg {
        width: 100%;
    }
}
.GalleryTile__tile-div__btIeR {
    display: table;
}



@media (max-width: 767px) {
    .GalleryTile__tile-div__btIeR {
        -ms-flex: none !important;
            flex: none !important;
        max-width: 100% !important;
        padding: 0 !important;
    }
}
.App__main-wrapper__3b6MY {
    width:100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.App__modal-contact__21Zjr {
    z-index: 990;
}

.App__btn-close-contact__3keO5 {
    cursor: pointer;
    background-color: #4775de;
    padding: 15px;
    border-radius: 5px;
    color: white !important;
    font-family: 'Lato';
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    position: relative;
    margin: 0 auto;
}

.App__btn-close-contact__3keO5:hover {
    text-decoration: none !important;
    background-color: #608aec;
}

.App__modal-project__17ToP {
    z-index: 990;
}

.App__btn-close-project__3cgc9 {
    cursor: pointer;
    background-color: #4775de;
    padding: 15px;
    border-radius: 5px;
    color: white !important;
    font-family: 'Lato';
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    position: relative;
    margin: 0 auto;
}

.App__btn-close-project__3cgc9:hover {
    text-decoration: none !important;
    background-color: #608aec;
}


.MobileNav__mobileNav__1X_xl {
    display: none;
    height: 165px;
    -webkit-transform: translateY(-80px);
        -ms-transform: translateY(-80px);
            transform: translateY(-80px);
}

.MobileNav__mobile-nav-item__2Zmi4 {
    width: 25%;
    height: 80px;
    padding: 0;
    color: black;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    text-align: center;
}

.MobileNav__mobile-nav-item__2Zmi4:hover {
    text-decoration: none;
    color: black;
}

.MobileNav__mobile-nav-item__2Zmi4 p {
    padding: 0 !important;
    top: -25px !important;
    position: relative;
    top: -14px !important;
}

.MobileNav__item-row__2GowT {
    width: 100% !important;
    margin: 0;
}

.MobileNav__mobile-nav-item__2Zmi4 p {
    text-align: center;
}

.MobileNav__logo__1a3VP {
    display: inline-block !important;
}

.MobileNav__vl__1UPQE {
    width: 1px;
    height: 50px;
}

@media (max-width: 767px) {
    .MobileNav__btnNav__jRBuB {
        font-size: 11px !important;
        padding: 0 5px !important;
    }

    .MobileNav__mobileNav__1X_xl {
        display: block;
    }
}
.ProjectSections__curve__haR7_ {
    width: 100%;
}

.ProjectSections__content-row__3T7Vv {
    margin-top: -10px;
}

.ProjectSections__content-row__3T7Vv hr {
    width: 50%;
    margin: 30px auto 40px auto;
    min-width: 280px;
}

.ProjectSections__btn-prev__2QZa7,
.ProjectSections__btn-next__2k-xD,
.ProjectSections__btn-disabled__1sgYk {
    position: relative;
    z-index: 500;
    text-align: center;
    background-color: #608aec;
    padding: 10px;
    color: white!important;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: table;
    margin: 125px auto 0 auto;
}

.ProjectSections__btn-prev__2QZa7:hover,
.ProjectSections__btn-next__2k-xD:hover {
    text-decoration: none;
}

.ProjectSections__btn-disabled__1sgYk {
    opacity: 0.5;
}

.ProjectSections__btn-disabled__1sgYk:hover {
    cursor: not-allowed;
}

@media (max-width: 1000px) {
    .ProjectSections__btn-prev__2QZa7,
    .ProjectSections__btn-next__2k-xD,
    .ProjectSections__btn-disabled__1sgYk {
        display: none;
    }

    .ProjectSections__heading-div__OuHnU {
        -ms-flex: none !important;
            flex: none !important;
        max-width: 100%;
    }
}


.ProjectTile__project-tile__3QCYK,
.ProjectTile__project-tile-mobile__WPJWl,
.ProjectTile__project-tile-mobile-single__3QVYu{
    height: 400px;
    margin: 10px auto 80px auto;
    width: 1000px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    border-radius: 15px;
    color: black;
    -webkit-box-shadow: 0 0 40px #ccc;
            box-shadow: 0 0 40px #ccc;
}

.ProjectTile__project-tile__3QCYK:hover,
.ProjectTile__project-tile-mobile__WPJWl:hover,
.ProjectTile__project-tile-mobile-single__3QVYu:hover {
    text-decoration: none !important;
    color: black;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
}

.ProjectTile__project-tile__3QCYK h2,
.ProjectTile__project-tile-mobile__WPJWl h2,
.ProjectTile__project-tile-mobile-single__3QVYu h2 {
    margin: 120px auto 0 auto;
    text-align: left;
}

.ProjectTile__project-tile-mobile__WPJWl,
.ProjectTile__project-tile-mobile-single__3QVYu {
    display: none;
}

.ProjectTile__project-preview-tag__1aBK5 {
    background-color: orange;
    width: 140px;
    line-height: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #ccc;
            box-shadow: 0 0 5px #ccc;
    padding: 0 !important;
}

.ProjectTile__img-cont__3gzvY {
    padding: 0 !important;
}

@media (max-width: 1200px) {
    .ProjectTile__project-tile__3QCYK,
    .ProjectTile__project-tile-mobile__WPJWl,
    .ProjectTile__project-tile-mobile-single__3QVYu {
        height: 320px !important;
        width: 800px !important;
        margin: 10px auto 60px auto;
    }

    .ProjectTile__project-tile__3QCYK h2,
    .ProjectTile__project-tile-mobile__WPJWl h2,
    .ProjectTile__project-tile-mobile-single__3QVYu h2 {
        margin-top: 90px;
    }

    .ProjectTile__text-cont__3E44K h2 {
        font-size: 35px !important;
        letter-spacing: -2px !important;
    }
}

@media (max-width: 1000px) {
    .ProjectTile__project-tile__3QCYK,
    .ProjectTile__project-tile-mobile__WPJWl,
    .ProjectTile__project-tile-mobile-single__3QVYu {
        height: 240px !important;
        width: 600px !important;
        margin: 10px auto 60px auto;
    }

    .ProjectTile__project-tile__3QCYK h2,
    .ProjectTile__project-tile-mobile__WPJWl h2,
    .ProjectTile__project-tile-mobile-single__3QVYu h2 {
        margin-top: 55px;
        font-size: 40px !important;
    }

    .ProjectTile__project-tile__3QCYK p,
    .ProjectTile__project-tile-mobile__WPJWl p,
    .ProjectTile__project-tile-mobile-single__3QVYu p {
        font-size: 15px;
    }

    .ProjectTile__text-cont__3E44K h2 {
        font-size: 30px !important;
    }
}

@media (max-width: 767px) {
    .ProjectTile__project-tile-mobile__WPJWl {
        height: auto !important;
        width: 600px !important;
        margin: 20px auto 70px auto;
        display: block;
    }

    .ProjectTile__project-tile-mobile-single__3QVYu {
        height: 240px !important;
        width: 600px !important;
        margin: 20px auto 70px auto;
        display: block;
    }

    .ProjectTile__project-tile__3QCYK {
        display: none;
    }

    .ProjectTile__project-tile-mobile__WPJWl,
    .ProjectTile__project-tile-mobile-single__3QVYu {
        width: 90% !important;
    }

    .ProjectTile__text-cont__3E44K h2 {
        font-size: 30px;
    }

    .ProjectTile__project-tile-mobile__WPJWl:hover,
    .ProjectTile__project-tile-mobile-single__3QVYu:hover {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
}



@media (max-width: 1200px) {
    .ProjectsImage__image__2BVJA {
        height: 320px !important;
    }
}

@media (max-width: 1000px) {
    .ProjectsImage__image__2BVJA {
        height: 240px !important;
    }
}
.ProjectDetails__project-select-row__l2NSK {
    margin-top: -10px;
}

.ProjectDetails__project-select-link__2G6p4:hover {
    text-decoration: none;
}

.ProjectDetails__curve__1GOe6 {
    width: 100%;
    margin-bottom: 30px;
}

.ProjectDetails__modal__30ejV {
    overflow: hidden;
    padding: 0 40px;
    max-width: 1000px;
    margin: -20px auto 0 auto;
}

.ProjectDetails__title-p__2CliQ {
    margin-bottom: 0 !important;
}

.ProjectDetails__modal__30ejV ul {
    list-style-type: disk;
    list-style-position: outside;
    margin: 10px 0 30px 20px;
}

.ProjectDetails__modal__30ejV h1 {
    margin: 30px auto 0px auto !important;
    font-size: 48px !important;
    letter-spacing: -3px !important;
}

.ProjectDetails__modal__30ejV h4 {
    text-align: left !important;
    margin-bottom: 0;
    font-size: 25px !important;
    letter-spacing: -1px !important;
}

.ProjectDetails__modal__30ejV hr {
    width: 50%;
    margin: 30px auto 40px auto;
    min-width: 280px;
}

.ProjectDetails__modal__30ejV img {
    display: block;
}

.ProjectDetails__modal__30ejV p3 {
    text-align: left;
    font-family: 'Cairo' !important;
    font-size: 16px;
    margin: 10px auto;
    font-weight: 400;
    max-width: 700px;
    line-height: 20px;
}

.ProjectDetails__modal__30ejV li {
    margin-bottom: 10px;
}

.ProjectDetails__btn-prev__2QCpp,
.ProjectDetails__btn-next__UJTSv,
.ProjectDetails__btn-disabled__1rpcI {
    position: relative;
    z-index: 500;
    text-align: center;
    background-color: #608aec;
    padding: 10px;
    color: white!important;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: table;
    margin: 125px auto 0 auto;
}

.ProjectDetails__btn-prev__2QCpp:hover,
.ProjectDetails__btn-next__UJTSv:hover {
    text-decoration: none;
}

.ProjectDetails__btn-disabled__1rpcI {
    opacity: 0.5;
}

.ProjectDetails__btn-disabled__1rpcI:hover {
    cursor: not-allowed;
}

.ProjectDetails__description__CeQxs {
    text-align: center;
}

.ProjectDetails__content__3kwi5 {
    margin-top: -20px;
}

.ProjectDetails__modal__30ejV p {
    text-align: left;
    padding: 0 !important;
    max-width: none;
    margin: 0 0 30px 0 !important;
}

/* .modal p:last-of-type {
    text-align: left;
    padding: 0;
    max-width: none;
    margin: 0;
} */

.ProjectDetails__modal__30ejV p2 {
    margin: 0 auto;
    text-align: center;
}

.ProjectDetails__tag__10Xfs {
    height: 30px !important;
    margin: 0 auto;
    background-color: orange;
    width: 140px;
    height: auto;
    line-height: 30px !important;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #ccc;
            box-shadow: 0 0 5px #ccc;
    display: table;
    margin: 10px auto;
}

.ProjectDetails__tag__10Xfs p {
    display: table-cell;
    vertical-align: middle;
    padding: 0 !important;
}

@media (max-width: 1000px) {
    .ProjectDetails__modal__30ejV img {
        height: 350px;
        margin: 0 auto !important;
        display: block;
    }
} 

@media (max-width: 767px) {
    .ProjectDetails__modal__30ejV {
        padding: 0 25px;
    }

    .ProjectDetails__modal__30ejV hr {
        margin: 20px auto 20px auto;
    }

    .ProjectDetails__modal__30ejV img {
        height: auto;
        width: 300px;
    }

    .ProjectDetails__modal__30ejV h1 {
        font-size: 40px !important;
    }

    .ProjectDetails__project-select-link__2G6p4 {
        max-width: 100% !important;
    }

    .ProjectDetails__btn-prev__2QCpp,
    .ProjectDetails__btn-next__UJTSv,
    .ProjectDetails__btn-disabled__1rpcI {
        display: none;
    }

} 

@media (max-width: 480px) {
    .ProjectDetails__modal__30ejV {

    }

    .ProjectDetails__modal__30ejV hr {
        margin: 20px auto 20px auto;   
    }

    .ProjectDetails__modal__30ejV h1 {
        font-size: 35px !important;
        letter-spacing: -2px;
    }

    .ProjectDetails__modal__30ejV h4 {
        font-size: 20px !important;
        letter-spacing: -0.5px;
    }

    .ProjectDetails__modal__30ejV:after {
        content: "";
        display: block;
        height: 40px;
        width: 100%;
    }
    
} 

@media (max-width: 1100px) {
    .ProjectDetails__project-select-link__2G6p4 {
        max-width: 50% !important;
        -ms-flex: none !important;
            flex: none !important;
        margin-bottom: 30px;
    }
}
.Hero__hero__tdIwa {
    height: 820px !important;
    /* background-color: rgb(233, 233, 233); */
    /* box-shadow: 0 50px 50px -50px  rgba(0, 0, 0, 0.1); */
    margin: 0 0 200px 0;
    width: 100%;
    overflow: hidden;
}

.Hero__divide-container__3sRMP {
    position: relative;
    background-color: white !important;
    padding: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 500px;
    border-radius: 20px;
    top: 100px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    z-index: 100;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.Hero__upper-wrapper__2Qtq7 {
    height: 320px;
    background-color: white !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 30px solid #f5f5f5;
    border-bottom: 0;
    /* background-image: url(../../../../assets/images/about/other/secondary.jpeg); */
    background-size: cover;
    
}

.Hero__img-narrow__1gF0z {
    display: none;
}

.Hero__lower-wrapper__28Vbj {
    height: 80px;
    background-color: #f5f5f5 !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Hero__lower-wrapper__28Vbj * {
    top: 25px;
}

.Hero__wave__2HRUL {
    -webkit-animation-name: Hero__wave__2HRUL;
            animation-name: Hero__wave__2HRUL;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;  
}

.Hero__main-title__3WS8i * {
    display: inline;
}

.Hero__main-title__3WS8i h1 {
    margin-top: 110px !important;
}

@-webkit-keyframes Hero__wave__2HRUL {
    0% {-webkit-transform: rotate(5deg);transform: rotate(5deg)}
    50% {-webkit-transform:rotate(-6deg);transform:rotate(-6deg)}
    100% {-webkit-transform: rotate(6deg);transform: rotate(6deg)}
}

@keyframes Hero__wave__2HRUL {
    0% {-webkit-transform: rotate(5deg);transform: rotate(5deg)}
    50% {-webkit-transform:rotate(-6deg);transform:rotate(-6deg)}
    100% {-webkit-transform: rotate(6deg);transform: rotate(6deg)}
}


.Hero__preview-container__3Qelx {
    margin: 200px auto;
}

.Hero__stripe__2ruiU {
    height: 450px;
    width: 99.7%;
    top: 350px;
    position: absolute;
    background-color: #4775de;
    -webkit-transform: skew(6.2deg) rotate(6.2deg);
        -ms-transform: skew(6.2deg) rotate(6.2deg);
            transform: skew(6.2deg) rotate(6.2deg);
    z-index: -1;
}

.Hero__stripe-reflected__3HqCB {
    top: 400px;
    height: 400px;
    position: absolute;
    width: 99.7%;
    background-color: #dbebfa;
    -webkit-transform: skew(-6.2deg) rotate(-6.2deg);
        -ms-transform: skew(-6.2deg) rotate(-6.2deg);
            transform: skew(-6.2deg) rotate(-6.2deg);
    z-index: -2;
}

.Hero__stripe-container__3d5jB {
    width: 100vh;
}

@media (max-width: 767px) {
    .Hero__hero__tdIwa {
        margin-bottom: 10px;
    }

    .Hero__wave__2HRUL {
        width: 70px !important;
        display: none;
    }

    .Hero__divide-container__3sRMP {
        width: 450px;
        top: 45px !important;
    }

    .Hero__upper-wrapper__2Qtq7 {
        background-position: center !important;
        height: 290px;
    }

    .Hero__stripe__2ruiU {
        top: 250px !important;
        height: 450px;
    }

    .Hero__stripe-reflected__3HqCB {
        top: 250px !important;
        height: 430px;
    }

    .Hero__main-title__3WS8i h1 {
        margin: 90px auto 0 auto !important;
    }

}

@media (max-width: 480px) {
    .Hero__divide-container__3sRMP {
        width: 300px;
    }

    .Hero__img-wide__172pB {
        display: none;
    }

    .Hero__upper-wrapper__2Qtq7 {
        height: 370px;
    }

    .Hero__img-narrow__1gF0z {
        display: block;
    }
}
.AboutPreview__aboutPreview__2saq2 {
    height: auto;
    margin: 0 auto 80px auto;
}

.AboutPreview__abt-prev-el__38GFO {
    z-index: 200;
}

.AboutPreview__abt-prev-el__38GFO {
}


.AboutPreview__preview-container__1s-pP {
    margin: 200px auto;
}

.AboutPreview__carousel-overlay__3Jio4 {
    z-index: 200;
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 1)), color-stop(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)),color-stop(rgba(255, 255, 255, 0)),  to(rgba(255, 255, 255, 1)) );
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1) );
    background: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1) );
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1) );
    height: 75px;
    position: absolute;
    width: 100%;
}





.ProjectsPreview__projectsPreview__2sGY4 {
    height: auto;
    margin: 0 auto 80px auto;
}

.ProjectsPreview__tile-wrapper__1UmyL {
    max-width: 1200px !important;
    margin: 0 auto;
}

.ProjectsPreview__proj-prev-el__3MMFq {
}

.ProjectsPreview__projects-preview-paragraph__1UoAS p {
    line-height: 0 !important;
}

.ProjectsPreview__carousel-wrapper__2wLPN {
    height: 300px;
    width: 500px;
    position: absolute;
    z-index: -100;
    background-color: green;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 15px;
}

.ProjectsPreview__carousel-relative__2LFGI {
    height: 100%;
}

.ProjectsPreview__link-container__U8SEa {
    margin: 0 auto;
}




.GalleryPreview__galleryPreview__3exZR {
    height: auto;
    margin: 0 auto;
}
.GalleryPreview__gallery-prev-el__1rSVK a  {
    height: 50px;
}

.GalleryPreview__gallery-prev-el__1rSVK {
    height: 200px;
}


.GalleryPreview__btn-left__2HWS9 {
    float: left;
    position: relative;
    top: -320px;
    z-index: 500;
    text-align: center;
    background-color: #608aec;
    padding: 5px 10px;
    color: white!important;
    border-radius: 50%;
    margin-left: 15px;
    height: 45px;
    width: 45px;
    display: table;
}

.GalleryPreview__btn-right__1yUD5 {
    float: right;
    position: relative;
    top: -320px;
    text-align: center;
    background-color:#608aec;
    padding: 5px 10px;
    color: white !important;
    border-radius: 50%;
    z-index: 500;
    margin-right: 15px;
    height: 45px;
    width: 45px;
    display: table;
}

.GalleryPreview__gallery-preview-paragraph__38ksW p {
    line-height: 0 !important;
}

.GalleryPreview__carousel-relative__1I42n {
    position: relative !important;
    height: 100%;
}

.GalleryPreview__link-container__3x6ck {
    margin: 0 auto;
}

.SNL__content__9i_gm {
    min-height: 20vh;
}.WaterlooEngineering__content__2-Y79 {
    min-height: 20vh;
}.GraphQL__content__1OrTT {
    min-height: 20vh;
}.Photos__content__27tpm {
    min-height: 20vh;
    margin-top: -10px;
}.GalleryTileDetail__text-wrapper-snl__mw_bp {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    color: white;
    background: url(/static/media/fbs.8293b033.png);
    background-size: cover;
}

.GalleryTileDetail__text-wrapper-graphql__vP-NY {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    color: white;
    background-image: url(/static/media/graphql.50872fdd.png);
    background-size: cover;
}

.GalleryTileDetail__text-wrapper-wateng__Z2Y6W {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    color: white;
    background-image: url(/static/media/waterloo-campus.e0b74607.png);
    background-size: cover;
}

.GalleryTileDetail__text-wrapper-photos__18wLj {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    color: white;
    background-image: url(/static/media/team-picture.45ceae1a.png);
    background-size: cover;
}

.GalleryTileDetail__text-wrapper-snl__mw_bp:hover,
.GalleryTileDetail__text-wrapper-graphql__vP-NY:hover,
.GalleryTileDetail__text-wrapper-wateng__Z2Y6W:hover,
.GalleryTileDetail__text-wrapper-photos__18wLj:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    color: white;
    text-decoration: none;
}

.GalleryTileDetail__text-div__T_YpR {
    display: table-cell;
    vertical-align: middle;
}

.GalleryTileDetail__text-div__T_YpR p {
    line-height: 15px;
}

.GalleryTileDetail__text-div__T_YpR h2 {
    font-size: 40px !important;
}

.GalleryTileDetail__outer-wrapper__1G7Yn {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 40px;
}

.GalleryTileDetail__text-div__T_YpR h2 {
    font-family: 'Poppins';
    font-weight: 700;
    letter-spacing: -3px;
}

@media (max-width: 1035px) {
    .GalleryTileDetail__outer-wrapper__1G7Yn {
        padding: 0 0 25px 0 !important;
    }
}


.ProjectSelectTile__select-box-wm__1AMcF,
.ProjectSelectTile__select-box-ds__2Fb7z,
.ProjectSelectTile__select-box-exp__3cwAv,
.ProjectSelectTile__select-box-hack__D3weZ {
    -webkit-box-shadow: rgb(204, 204, 204) 0px 0px 20px;
            box-shadow: rgb(204, 204, 204) 0px 0px 20px;
    height: 250px;
    border-radius: 15px;
    padding: 30px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    color: white;
    display: table;
    width: 100% !important;
}

.ProjectSelectTile__select-box-ds__2Fb7z {
    background-image:url(/static/media/select-ds.aac6b609.png);
    background-size: cover;
}

.ProjectSelectTile__select-box-wm__1AMcF {
    background-image:url(/static/media/select-wm.bebfac9f.png);
    background-size: cover;
}

.ProjectSelectTile__select-box-exp__3cwAv {
    background-image: url(/static/media/select-exp.90f37027.png);
    background-size: cover;
}

.ProjectSelectTile__select-box-hack__D3weZ {
    background-image:url(/static/media/select-hack.e6a5bf17.png);
    background-size: cover;
}

.ProjectSelectTile__select-box-wm__1AMcF:hover,
.ProjectSelectTile__select-box-ds__2Fb7z:hover,
.ProjectSelectTile__select-box-exp__3cwAv:hover,
.ProjectSelectTile__select-box-hack__D3weZ:hover{
    text-decoration: none !important;
    color: white;
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
}

.ProjectSelectTile__select-box-wm__1AMcF h4, 
.ProjectSelectTile__select-box-ds__2Fb7z h4,
.ProjectSelectTile__select-box-exp__3cwAv h4,
.ProjectSelectTile__select-box-hack__D3weZ h4 {
    display: table-cell;
    vertical-align: middle;
}


@media (max-width: 1100px) {
    .ProjectSelectTile__select-box-wm__1AMcF,
    .ProjectSelectTile__select-box-ds__2Fb7z,
    .ProjectSelectTile__select-box-exp__3cwAv,
    .ProjectSelectTile__select-box-hack__D3weZ {
        width: 150px;
    }
}

@media (max-width: 767px) {
    .ProjectSelectTile__select-box-wm__1AMcF,
    .ProjectSelectTile__select-box-ds__2Fb7z,
    .ProjectSelectTile__select-box-exp__3cwAv,
    .ProjectSelectTile__select-box-hack__D3weZ {
        height: 170px;
    }
}.CarouselItem__item-preview-tile__2-F_l {
    margin: 0 auto;
    width: 100% !important;
    height: 400px !important;
    -webkit-transition: -webkit-box-shadow 0.2s;
    transition: -webkit-box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    z-index: 500;
    display: table;
    color: black;
}

.CarouselItem__item-preview-tile__2-F_l:hover {
    color: black;
}

.CarouselItem__default-cursor__1GNIS {
    cursor: default !important;
}

.CarouselItem__text-div__T4sTW { 
    display: table-cell;
    vertical-align: middle;
}

.CarouselItem__text-div__T4sTW h3 {
    font-family: 'Poppins' !important;
    font-weight: 700 !important;
    letter-spacing: -1px !important;
    font-size: 35px !important;
}

.CarouselItem__text-div__T4sTW p {
    line-height: 10px;
}

.CarouselItem__carousel-wrapper__3_Po3 {
    z-index: -3;
}

.CarouselItem__upper-wrapper-hack__sQCAE {
    position: absolute;
    width: inherit;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url(/static/media/select-hack.00b11764.jpg);
    background-position: center;
}

.CarouselItem__upper-wrapper-exp__2ewnU {
    position: absolute;
    width: inherit;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image:  url(/static/media/select-exp.7e191f78.jpg);
    background-size: cover;
}

.CarouselItem__upper-wrapper-ds__qYYeR {
    position: absolute;
    width: inherit;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url(/static/media/select-ds.85e6044c.jpg);
    background-size: cover;
}

.CarouselItem__upper-wrapper-wm__1tAm6 {
    position: absolute;
    width: inherit;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url(/static/media/select-wm.bb4ba708.jpg);
    background-size: cover;
}



.CarouselItem__upper-wrapper-snl__1Go_r {
    position: absolute;
    width: inherit;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url(/static/media/fbs.ebc90a4b.jpg);
    background-size: cover;
}

.CarouselItem__upper-wrapper-graphql__1e4_x {
    position: absolute;
    width: inherit;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url(/static/media/graphql.fca1e33a.jpg);
    background-size: cover;
}

.CarouselItem__upper-wrapper-wateng__2oGAo {
    position: absolute;
    width: inherit;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url(/static/media/waterloo-campus.7f3de478.jpg);
    background-size: cover;
}

.CarouselItem__upper-wrapper-photos__1vBZt {
    position: absolute;
    width: inherit;
    height: 280px;
    top: 0;    
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url(/static/media/team-picture.fd2ed17a.jpeg);
    background-size: cover;
}

.CarouselItem__lower-wrapper__1k5o3,
.CarouselItem__lower-wrapper-showcase__tVdeU {
    position: absolute;
    width: inherit;
    background-color: white;
    height: 100px;
    bottom: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: table;
}

.CarouselItem__lower-wrapper-showcase__tVdeU {
    height: 70px;
}

.CarouselItem__tag__2Egz- {
    height: 30px !important;
    margin: -5px auto 5px auto;
    background-color: orange;
    width: 140px;
    height: auto;
    line-height: 30px !important;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #ccc;
            box-shadow: 0 0 5px #ccc;
    display: table;
}

.CarouselItem__tag__2Egz- p {
    display: table-cell;
    vertical-align: middle;
}




/*# sourceMappingURL=main.07e82407cc9e1797fea2.css.map*/