.modal {
    height: 90vh !important;
    width: 93vw;
}

.modal h1 {
    margin: 30px auto 20px auto !important;
}

.btn-close {
    bottom: 0;
    margin-top: 15px;
}

.under-heading {
}

.contact-p {
    text-align: center;
    font-family: 'Cairo';
    font-size: 15px;
    margin: 5px auto 15px auto;
    font-weight: 400;
    max-width: 550px;
    line-height: 35px;
}

.hr {
    width: 300px;
}

.description-p {
    /* margin: 0 auto !important; */
}

.tag {
    height: 30px !important;
    margin: 0 auto;
    background-color: orange;
    width: 140px;
    height: auto;
    line-height: 30px !important;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    display: table;
    margin: 20px auto;
}

.tag p {
    display: table-cell;
    vertical-align: middle;
    padding: 0 !important;
}

@media (max-width: 767px) {
    .modal {
        width: 320px;
        overflow: hidden;
        height: 415px !important;
    }

    .contact-p {
        font-size: 13px;
    }

    .hr {
        width: 150px;
    }
} 

