
.btn-link {
    cursor: pointer;
    background-color: #4775de;
    padding: 15px;
    border-radius: 5px;
    color: white !important;
    font-family: 'Lato';
    transition: background-color 0.2s;
    position: relative;
}

.btn-link:hover {
    text-decoration: none !important;
    background-color: #608aec;
}