.text-wrapper {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    transition: transform 0.2s;
    color: white;
}

.text-wrapper:hover {
    transform: scale(1.05);
    color: white;
    text-decoration: none;
}

.text-div {
    display: table-cell;
    vertical-align: middle;
}

.text-div p {
    line-height: 15px;
}

.text-div h2 {
    font-size: 40px;
}

.outer-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-div h2 {
    font-family: 'Poppins';
    font-weight: 700;
    letter-spacing: -3px;
}

@media (max-width: 1035px) {
    .outer-wrapper {
        padding: 15px 0 !important;
    }
    

}


