.description p {
    margin: 0 auto;
}

.button-row {
    margin-bottom: 80px;
    width: 350px;
    margin: 0 auto 0 auto;
}

.description-no-link p {
    margin: 0 auto 80px auto;
}

.tag {
    height: 30px !important;
    margin: 0 auto;
    background-color: orange;
    width: 140px;
    height: auto;
    line-height: 30px !important;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    display: table;
    margin: 20px auto;
}

.tag p {
    display: table-cell;
    vertical-align: middle;
    padding: 0 !important;
}

.overlay h1 {
    font-size: 70px;
    font-family: 'Poppins';
    letter-spacing: -3px;
}

.description-p {
    margin: 0 auto !important;
}

.overlay h3 {
    font-size: 30px;
    letter-spacing: -1px;
    max-width: 700px;
    margin: 0 auto;
}

.project-paragraph {
    margin: 0 auto;
    text-align: left;
    max-width: 700px;;
}

.btn-prev,
.btn-next,
.btn-disabled {
    position: relative;
    z-index: 500;
    text-align: center;
    background-color: #608aec;
    padding: 5px 10px;
    color: white!important;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: table;
    margin: 140px auto 0 auto;
}

.btn-prev:hover,
.btn-next:hover {
    text-decoration: none;
}

.btn-disabled {
    opacity: 0.5;
}

.btn-disabled:hover {
    cursor: not-allowed;
}


@media (max-width: 1000px) {

}

@media (max-width: 767px) {
    .overlay h1 {
        font-size: 55px;
    }

    .title-block div {
        width: 33.3%;
    }

    .btn-prev,
    .btn-next,
    .btn-disabled {
        margin-top: 110px;
    }
}

@media (max-width: 560px) {
    .overlay h1 {
        font-size: 40px;
    }

    .btn-prev,
    .btn-next,
    .btn-disabled {
        display: none;
    }
}

