.about {

}

.img-container div {
}

.content-div {
}

.carousel-row {
    margin-top: 40px;
}
.img-row {
    margin: 40px auto 0 auto;
    width: 400px;
}

.section-div {
    margin: 100px auto;
}

.team:hover {
    transition: transform 0.2s;
}

.skill-img {
    transition: transform 0.2s;
}

.skill-img:hover {
    transform: scale(1.05);
}
    
.section-div-first {
    margin-top: 0;
}

.section-div-first h2 {
    color: #4775de;
}

@media (max-width: 620px) {
    .about p {
        padding: 20px;
    }

    .img-row {
        width: 100%;
    }
}

@media (max-width: 775px) {
    .team {
        width: 50% !important;
    }

    .skill-img {
        height: 150px !important;
        width: 25%;
    }
}


