.about {

}

.img-container div {
}

.content-div {
}

.carousel-row {
    margin: 40px auto 250px auto;
}
.img-row {
    margin: 40px auto 0 auto;
    width: 500px;
}

.section-div {
    margin: 100px auto;
}

.team:hover {
    transition: transform 0.2s;

}

.skill-img {
    transition: transform 0.2s;
}

.skill-img:hover {
    transform: scale(1.05);
}
    
.section-div-first {
    margin-top: 0;
}

.section-div-first h2 {
    color: #4775de;
}
