.about {

}

.img-container div {
}

.content-div {
}

.carousel-row {
    margin-top: 40px;
}
.img-row {
    margin: 40px auto 0 auto;
    width: 600px;
}

.section-div {
    margin: 100px auto;
}

.team {
    transition: transform 0.2s;
}

.carousel {
    margin-top: 20px;
}

.team:hover {
    transform: scale(1.05);
}

.skill-img {
    transition: transform 0.2s;
}

.skill-img:hover {
    transform: scale(1.05);
}
    
.section-div-first {
    margin-top: 0;
}


@media (max-width: 800px) {
    .team {
        width: 33.333% !important;
    }
}

@media (max-width: 560px) {
    .img-row {
        width: 100%;
    }
}




