.col-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary-container {
    height: 100vh;
}

.exp-container {
    margin-bottom: 100px;
}

.icon-row {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.row {
    margin-top: 8%;
}

.tile-row {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-row-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper p {
    margin: 0 40px 20px 0;
}

.back-arrow {
    font-size: 40px;
    color: rgb(202, 198, 198);
    margin: 0 15px 0 0;
}

.back-arrow:hover {
    color: black;
    transition: 0.2s;
}

.text-link-back {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 17px;
}

.text-link-shopify {
    color: #96bf48;

}

.text-link-shopify:hover {
    text-decoration-line: underline;
    color: #96bf48;
}

.text-link-nvidia {
    color: #76b900;

}

.text-link-nvidia:hover {
    text-decoration-line: underline;
    color: #76b900;
}

.image {
    max-height: 500px;
}

h2 {
    font-family: 'Fira Sans';
    font-weight: 500;
    font-size: 40px;
}

@media (max-width: 1200px) {
    .row {
        margin-top: 14%;
    }
}

@media (max-width: 991px) {
    .row {
        margin-top: 20%;
    }
}

@media (max-width: 767px) {
    .summary-container {
        height: 140vh;
    }
}


@media (max-width: 575px) {
    .row {
        margin: 0 40px;
    }

    .back-row {
        margin: 0 40px 20px 40px;
    }
}

@media (max-width: 450px) {
    .row {
        margin: 0 10px;
    }

    .back-row {
        margin: 0 10px;
        margin-bottom: 20px;
    }
}

