.col-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-link-learn-more {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
}

.summary-container {
    height: 100vh;
}

.row {
    margin-top: 8%;
    height: 60%;
}

.content-wrapper p {
    margin: 0 40px 20px 0;
}

.back-arrow {
    font-size: 40px;
    color: rgb(202, 198, 198);
    margin: 0 15px 0 0;
}

.back-arrow:hover {
    color: black;
    transition: 0.2s;
}

.text-link-shopify {
    color: #96bf48;
}

.text-link-shopify:hover {
    text-decoration-line: underline;
    color: #96bf48;
}

.text-link-nvidia {
    color: #76b900;
}

.text-link-nvidia:hover {
    text-decoration-line: underline;
    color: #76b900;
}

.image {
    max-height: 500px;
}

h2 {
    font-family: 'Fira Sans';
    font-weight: 700;
    font-size: 60px;
}

/* .exp-container {
    margin-bottom: 100px;
}

.tile-row {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-row-header {
    display: flex;
    align-items: center;
    justify-content: center;
} */

@media (max-width: 991px) {
    h2 {
        font-size: 50px;
    }
}

@media (max-width: 575px) {
    .row {
        margin: 0 40px;
    }

    h2 {
        font-size: 40px;
    }

    .back-row {
        margin: 0 40px 20px 40px;
    }
}

@media (max-width: 450px) {
    h2 {
        font-size: 40px;
    }

    .row {
        margin: 0 10px;
    }

    .back-row {
        margin: 0 10px;
        margin-bottom: 20px;
    }
}

