.project-preview-tile {
    margin: 0 auto 0 auto;
    width: 100%;
    height: 300px !important;
    transition: box-shadow 0.2s;
    display: table;
    background-color: transparent;
}

.project-preview-tile:hover {
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
}

.project-preview-tile div  {
    display: table-cell;
    vertical-align: middle;
}

.tile-div { 
}

.project-preview-tag {
    background-color: #ffa500;
    width: 120px;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}



