.project-preview-tile {
    margin: 0 auto 40px auto;
    width: 300px !important;
    height: 300px !important;
    transition: box-shadow 0.2s;
    border-radius: 30px;
    display: table;
}

.project-preview-tile:hover {
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
}

.tile-div h3, .tile-div p {
    font-family: 'Cairo';
    text-align: center;
}

.tile-div {
    display: table-cell;
    vertical-align: middle;
}



