.project-tile {
    height: 400px;
    margin: 20px auto 100px auto;
    width: 1000px;
    transition: transform 0.2s;
    border-radius: 15px;
    color: black;
    box-shadow: 0 0 40px #ccc;
}

.project-tile:hover {
    text-decoration: none !important;
    color: black;
    transform: scale(1.03);
}

.project-tile h2 {
    margin: 120px auto 0 auto;
    text-align: left;
}

.project-tile p {
}

.project-preview-tag {
    background-color: orange;
    width: 120px;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.text-cont {
}

.img-cont {
    padding: 0 !important;
}

@media (max-width: 1200px) {
    .project-tile {
        height: 320px !important;
        width: 800px !important;
        margin: 20px auto 70px auto;
    }

    .project-tile h2 {
        margin-top: 75px;
    }
}

@media (max-width: 1000px) {
    .project-tile {
        height: 240px !important;
        width: 600px !important;
        margin: 20px auto 70px auto;
    }

    .project-tile h2 {
        margin-top: 40px;
        font-size: 40px
    }

    .project-tile p {
        font-size: 15px;
    }
}


