.project-tile,
.project-tile-mobile {
    height: 400px;
    margin: 20px auto 100px auto;
    width: 1000px;
    transition: transform 0.2s;
    border-radius: 15px;
    color: black;
    box-shadow: 0 0 40px #ccc;
}

.project-tile:hover,
.project-tile-mobile:hover {
    text-decoration: none !important;
    color: black;
    transform: scale(1.03);
}

.project-tile h2,
.project-tile-mobile h2 {
    margin: 120px auto 0 auto;
    text-align: left;
}

.project-tile-mobile {
    display: none;
}

.project-tile p {
}

.project-preview-tag {
    background-color: orange;
    width: 120px;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.text-cont {
}

.img-cont {
    padding: 0 !important;
}

@media (max-width: 1200px) {
    .project-tile,
    .project-tile-mobile {
        height: 320px !important;
        width: 800px !important;
        margin: 20px auto 70px auto;
    }

    .project-tile h2,
    .project-tile-mobile h2 {
        margin-top: 75px;
    }

    .text-cont h2 {
        font-size: 35px;
        letter-spacing: -2px;
    }
}

@media (max-width: 1000px) {
    .project-tile,
    .project-tile-mobile {
        height: 240px !important;
        width: 600px !important;
        margin: 20px auto 70px auto;
    }

    .project-tile h2,
    .project-tile-mobile h2 {
        margin-top: 40px;
        font-size: 40px
    }

    .project-tile p,
    .project-tile-mobile p {
        font-size: 15px;
    }

    .text-cont h2 {
        font-size: 30px;
    }
}



@media (max-width: 767px) {
    .project-tile-mobile {
        height: 480px !important;
        width: 600px !important;
        margin: 20px auto 70px auto;
    }

    .project-tile {
        display: none;
    }

    .project-tile-mobile {
        display: block;
    }

    .text-cont h2 {
        font-size: 40px;
    }
}

@media (max-width: 610px) {
    .project-tile-mobile {
        border-radius: 0 !important;
        padding: 0;
    }

    .project-tile-mobile:hover {
        transform: none;
    }
}


