.modal {
    height: 500px;
    width: 100%;
    border-radius: 15px;
}

.modalOverlay {
    width: 500px;
}

.close-btn {
    background-color: #4775de;
}

.close-btn p {
    line-height: 0;
}

.modal-header h2 {
    margin: 0;
    text-align: center;
    width: 100%;
}

.modal-body {

}

.social-btn {
    margin: 30px auto;
}