.galleryPreview {
    height: auto;
    margin: 0 auto;
}
.gallery-prev-el  {
}


.btn-left {
    float: left;
    position: relative;
    top: -230px;
    z-index: 500;
    text-align: center;
    background-color: rgb(236, 236, 236);
    padding: 5px 10px;
    color: white !important;
    border-radius: 50%;
    margin-left: 15px;
}

.btn-right {
    float: right;
    position: relative;
    top: -230px;
    text-align: center;
    background-color: rgb(236, 236, 236);
    padding: 5px 10px;
    color: white !important;
    border-radius: 50%;
    z-index: 500;
    margin-right: 15px;
}

.carousel-wrapper-btn {
    height: 300px;
    width: 700px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
