.galleryPreview {
    height: auto;
    margin: 0 auto;
}
.gallery-prev-el a  {
    height: 50px;
}

.gallery-prev-el {
    height: 200px;
}


.btn-left {
    float: left;
    position: relative;
    top: -320px;
    z-index: 500;
    text-align: center;
    background-color: #608aec;
    padding: 5px 10px;
    color: white!important;
    border-radius: 50%;
    margin-left: 15px;
    height: 45px;
    width: 45px;
    display: table;
}

.btn-right {
    float: right;
    position: relative;
    top: -320px;
    text-align: center;
    background-color:#608aec;
    padding: 5px 10px;
    color: white !important;
    border-radius: 50%;
    z-index: 500;
    margin-right: 15px;
    height: 45px;
    width: 45px;
    display: table;
}

.gallery-preview-paragraph p {
    line-height: 0 !important;
}

.carousel-relative {
    position: relative !important;
    height: 100%;
}

.link-container {
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 705px) {
    .projectsPreview {
        margin: 0 auto 120px auto;
    }
}
