.galleryPreview {
    height: auto;
    margin: 0 auto;
}
.gallery-prev-el h2 {
    margin: 30px auto 15px auto;
}

.gallery-prev-el a {
    margin: 15px auto 30px auto;
}

.carousel-wrapper {
    height: 400px;
    width: 700px;
    position: absolute;
    z-index: -100;
    background-color: green;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 15px;
}

.btn-left {
    float: left;
    position: relative;
    top: -50%;
    border-radius: 300px;
    z-index: 500;
}

.btn-right {
    float: right;
    position: relative;
    top: -50%;
    border-radius: 300px;
    z-index: 500;
}

.carousel-wrapper-btn {
    height: 300px;
    width: 700px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
