.col {
}

.container {
    display: flex; 
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
}

.row {
    width: 900px;
    margin-bottom: 5%;
}

.content-wrapper p {
    margin: 0 0 20px 0;
}

.name {
    margin-bottom: 25px;
}

.text-link-shopify {
    color: #96bf48;

}

.text-link-shopify:hover {
    text-decoration-line: underline;
    color: #96bf48;
}

.text-link-gc {
    color: #4285f4;
}

.text-link-gc:hover {
    text-decoration-line: underline;
    color: #4285f4;
}

.text-link-learn-more {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
}

.future-text {
    margin-top: 60px;
}

.links-row a{
    font-size: 25px;
    color: rgb(202, 198, 198);
    margin: 0 15px 0 0;
}

.links-row a:hover {
    color: black;
    transition: 0.2s;
}

h1 {
    font-family: 'Fira Sans';
    font-weight: 900;
    font-size: 100px;
}

h2 {
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 60px;
}

p {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
}

@media (max-width: 991px) {
    h1 {
        font-size: 70px;
    }
}

@media (max-width: 575px) {
    h1 {
        font-size: 50px;
    }

    .row {
        margin: 0 40px;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 50px;
    }
    
    .row {
        margin: 0 10px;
    }
}