* {
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 100%;
  overflow-x: hidden; 
}

h5 {
  text-align: center;
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  font-size: 85px !important;
  letter-spacing: -6px;
  margin: 100px auto 0 auto !important;
}

h4 {
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  text-align: center !important;
  letter-spacing: -2px !important;
  font-size: 30px !important;
}

h3 {
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  text-align: center !important;
  letter-spacing: -2px !important;
  font-size: 40px !important;
}

h2 {
  font-size: 50px !important;
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  text-align: center !important;  
  letter-spacing: -3px !important;
  margin: 0 auto;
}

h1 {
  text-align: center !important;
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  font-size: 60px !important;
  letter-spacing: -4px !important; 
  margin: 100px auto 0 auto !important;
}

.p-about {
  font-size: 300px !important;
}

p {
  text-align: center ;
  font-family: 'Cairo' ;
  font-size: 16px ;
  margin: 10px auto ;
  font-weight: 400 ;
  max-width: 700px ;
  line-height: 35px ;
}

p2 {
  text-align: left;
  margin: 20px auto;
  font-family: 'Cairo';
  font-size: 16px;
  line-height: 35px;
  font-weight: 400 ;
  max-width: 750px;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.scroll-hidden {
  transform: translate3d(0, -100%, 0) !important;
}


@media (max-width: 1000px) {
  h5 {
    font-size: 65px !important;
  }

  p {
    font-size: 15px !important;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 45px !important;
    letter-spacing: -4px !important;
    padding: 0 10px !important;
    margin: 90px auto 0 auto !important;
  }

  h5 {
    font-size: 50px !important;
    letter-spacing: -4px !important;
    margin: 90px auto 0 auto !important;
    padding: 0 10px !important;
  }

  p {
    font-size: 15px !important;
    padding: 0 30px !important;
    margin: 8px auto !important;
  }

  h2 {
    font-size: 40px !important;
    letter-spacing: -2px !important;
  }

  h3 {
    font-size: 30px !important;
  }
} 




