body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 100%;
}

h4 {
  font-family: 'Poppins';
  font-weight: 700;
  text-align: center;
  letter-spacing: -2px;
  font-size: 30px;
}

h3 {
  font-family: 'Poppins';
  font-weight: 700;
  text-align: center;
  letter-spacing: -2px;
  font-size: 40px;
}


h2 {
  font-size: 50px;
  font-family: 'Poppins';
  font-weight: 700;
  text-align: center !important;
  letter-spacing: -3px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 95px;
  letter-spacing: -6px;
  margin: 110px auto 0 auto !important;
}

.p-about {
  font-size: 300px !important;
}

p {
  text-align: center;
  font-family: 'Lato';
  font-size: 18px;
  margin: 10px auto;
  font-weight: 400;
  max-width: 700px;
  line-height: 35px;
}

p2 {
  text-align: left;
  margin: 40px auto;
  font-family: 'Lato';
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
}

li {
}


a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.scroll-hidden {
  transform: translate3d(0, -100%, 0) !important;
}


@media (max-width: 1000px) {
  h1 {
    font-size: 80px;
  }

  p {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  h1 {
    padding: 0 10px !important;
    margin:120px auto 0 auto !important;
  }

  p {
    font-size: 15px;
    padding: 0 30px;
  }

  h2 {
    font-size: 40px;
    letter-spacing: -2px;
  }

  h3 {
    font-size: 30px;
  }
} 

@media (max-width: 500px) {
  h1 {
    font-size: 60px;
    letter-spacing: -4px;
    padding: 0 10px !important;
    margin: 90px auto 0 auto !important;
  }

  p {
    margin: 0 auto;
  }
} 



