.select-box-wm,
.select-box-ds,
.select-box-exp,
.select-box-hack {
    box-shadow: rgb(204, 204, 204) 0px 0px 20px;
    height: 250px;
    border-radius: 15px;
    padding: 30px;
    transition: transform 0.2s;
    color: white;
    display: table;
    width: 100% !important;
}

.select-box-ds {
    background-image:url('../../../assets/images/projects/select/select-ds.png');
    background-size: cover;
}

.select-box-wm {
    background-image:url('../../../assets/images/projects/select/select-wm.png');
    background-size: cover;
}

.select-box-exp {
    background-image: url('../../../assets/images/projects/select/select-exp.png');
    background-size: cover;
}

.select-box-hack {
    background-image:url('../../../assets/images/projects/select/select-hack.png');
    background-size: cover;
}

.select-box-wm:hover,
.select-box-ds:hover,
.select-box-exp:hover,
.select-box-hack:hover{
    text-decoration: none !important;
    color: white;
    transform: scale(1.03);
}

.select-box-wm h4, 
.select-box-ds h4,
.select-box-exp h4,
.select-box-hack h4 {
    display: table-cell;
    vertical-align: middle;
}


@media (max-width: 1100px) {
    .select-box-wm,
    .select-box-ds,
    .select-box-exp,
    .select-box-hack {
        width: 150px;
    }
}

@media (max-width: 767px) {
    .select-box-wm,
    .select-box-ds,
    .select-box-exp,
    .select-box-hack {
        height: 170px;
    }
}