.mobileNav {
    display: none;
    height: 165px;
    transform: translateY(-80px);
}

.mobile-nav-item {
    width: 25%;
    height: 80px;
    padding: 0;
    color: black;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    text-align: center;
}

.mobile-nav-item:hover {
    text-decoration: none;
    color: black;
}

.mobile-nav-item p {
    padding: 0 !important;
    top: -25px !important;
    position: relative;
    top: -13px !important;
}

.item-row {
    width: 100% !important;
    margin: 0;
}

.mobile-nav-item p {
    text-align: center;
}

.logo {
    display: inline-block !important;
}

.vl {
    width: 1px;
    height: 50px;
}

@media (max-width: 767px) {
    .btnNav {
        font-size: 11px !important;
        padding: 0 5px !important;
    }

    .mobileNav {
        display: block;
    }
}
